<div id="error">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				<h1>ERROR <span>{{errorStatus}}</span></h1>
				<p>{{errorMessage}}</p>
				{{#if error.stack}}<pre class="text-left">{{error.stack}}</pre>{{/if}}
			</div>
		</div>
	</div>
</div>