<div id="tournament">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			  <div class="panel header-panel">
			    <div class="panel-body">
			    	<div class="header-panel-title-section">
			    		<div class="row">
								<div class="col-xs-offset-3 col-xs-5 col-sm-offset-3 col-sm-6 text-left">
									<h2>Tournament</h2>
									<hr>
									<p>Who's the best?</p>
								</div>
								<div class="col-xs-4 col-sm-3 text-center">
									<button id="join-tournament-button">Join</button>
								</div>
			    		</div>
			    	</div>
						<div class="header-panel-auxiliary-section">
			    		<div class="row">
								<div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 text-left">
									<div class="score-part">
										<span class="score-part-counter">0</span>
										<span class="score-part-label">TOTAL</span>
									</div>			
									<span class="space-span"></span>									
									<div class="score-part">
										<span class="score-part-counter">0</span>
										<span class="score-part-label">WINS</span>
									</div>
									<span class="space-span"></span>
									<div class="score-part">
										<span class="score-part-counter">0</span>
										<span class="score-part-label">XP</span>
									</div>						
								</div>
			    		</div>								
						</div>
						<div class="header-panel-icon">
							<div>
								<i class="fa fa-trophy" aria-hidden="true"></i>
							</div>
						</div>
			    </div>
			  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			  <table id="tournamentTable" class="table table-striped table-hover">
			    <thead>
			      <tr>
			      	<th class="text-center">Position</th>
			        <th>Player</th>
			     		<th class="text-center">Score</th>
			        <th class="text-center">Time</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<tr class="text-center">
			    		<td># 1</td>
			    		<td class="text-left player-cell"><img class="img-responsive player-profile-img" src="https://rps-fights.s3.us-east-2.amazonaws.com/public/images/users/5a148277e7baa906b47b007b-1511881567285.jpg" alt="Player Profile Image" onerror="this.onerror=null;this.src='/images/users/user.png';" onload="this.style.opacity=1;" />Bob</td>
			    		<td class="score-field">0</td>
			    		<td>0:00:00</td>
			    	</tr>
			    	<tr class="text-center">
			    		<td># 2</td>
			    		<td class="text-left player-cell"><img class="img-responsive player-profile-img" src="https://rps-fights.s3.us-east-2.amazonaws.com/public/images/users/5a0ce6c8c4f1bf05f883c093-1512489283997.png" alt="Player Profile Image" onerror="this.onerror=null;this.src='/images/users/user.png';" onload="this.style.opacity=1;" />Elefantas</td>
			    		<td class="score-field">0</td>
			    		<td>0:00:00</td>
			    	</tr>
			    	<tr class="text-center">
			    		<td># 3</td>
			    		<td class="text-left player-cell"><img class="img-responsive player-profile-img" src="https://rps-fights.s3.us-east-2.amazonaws.com/public/images/users/5a10e9e0b66f751b141d9276-1511892242066.png" alt="Player Profile Image" onerror="this.onerror=null;this.src='/images/users/user.png';" onload="this.style.opacity=1;" />John Doe</td>
			    		<td class="score-field">0</td>
			    		<td>0:00:00</td>
			    	</tr>
			    	<tr class="text-center">
			    		<td># 4</td>
			    		<td class="text-left player-cell"><img class="img-responsive player-profile-img" src="https://rps-fights.s3.us-east-2.amazonaws.com/public/images/users/5a1dfafb1ccc2e38140bdb13-1511915134184.png" alt="Player Profile Image" onerror="this.onerror=null;this.src='/images/users/user.png';" onload="this.style.opacity=1;" />Maria Magdalena</td>
			    		<td class="score-field">0</td>
			    		<td>0:00:00</td>
			    	</tr>
			    	<tr class="text-center">
			    		<td># 5</td>
			    		<td class="text-left player-cell"><img class="img-responsive player-profile-img" src="https://rps-fights.s3.us-east-2.amazonaws.com/public/images/users/5a116dffe683db2430be6c99-1511883348710.jpg" alt="Player Profile Image" onerror="this.onerror=null;this.src='/images/users/user.png';" onload="this.style.opacity=1;" />The Spartan</td>
			    		<td class="score-field">0</td>
			    		<td>0:00:00</td>
			    	</tr>	
			    	<tr class="text-center">
			    		<td># 6</td>
			    		<td class="text-left player-cell"><img class="img-responsive player-profile-img" src="https://rps-fights.s3.us-east-2.amazonaws.com/public/images/users/5a039ba21ebb721b9c189416-1511882834844.png" alt="Player Profile Image" onerror="this.onerror=null;this.src='/images/users/user.png';" onload="this.style.opacity=1;" />test</td>
			    		<td class="score-field">0</td>
			    		<td>0:00:00</td>
			    	</tr>
			    </tbody>
			  </table>
			</div>
		</div>

	</div>
</div>